<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url redirect</title>
</head>
<body>
    <h1>Siema siema</h1>
    <form method="post">
        <label for="longUrl">Original URL:</label>
        <input type="text" id="longUrl" name="longUrl">
        <label for="shortUrl">Short URL: (leave blank to generate random)</label>
        <input type="text" id="shortUrl" name="shortUrl">
        <input type="submit" value="Submit">
        </form>

</body>
</html>